.btn-universal {
  padding: 10px 35px;
  font-size: 1.05rem;
  min-width: 160px;
  font-weight: 570;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.btn-universal.primary {
  background-color: #ff2d75;
  color: white;
}

.btn-universal:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
}