html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  /* O segredo para matar o espaço branco lateral: */
  overflow-x: hidden; 
  position: relative;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}